<% if(locals.user) { %>

    <div id="user-chat-box">

        <ul id="chat-messages-list">
            <li class="other-message">
               <span id="wlcm">
                    Welcome to Chat Room
               </span>
            </li>
            <li class="self-message">

            </li>
        </ul>

        <div id="chat-message-input-container">
            <input id="chat-message-input" placeholder="Type message here" value=''>
            <button id="send-message">Send</button>
        </div>

    </div>

<% } %>