
<div class="sign-box">
    <h1 class="title"> Sign in </h1>
    <form action="/users/create-sessions" method="post">
        <input id="in1" class="top-name box" type="email" name="email" placeholder="Email" required>
        <input id="in2" class="box" type="password" name="password" placeholder="Password" required>
        <input id="in3" class="submit-button box" type="submit" value="Sign in"> 
    </form>
    <p>
        <div class="Or">
          OR 
        </div>
        <div class="Google">
         <a href="/users/auth/google"><i class="fa-brands fa-google"></i> &nbsp;&nbsp; Sign in via Google </a>
        </div>
     </p>
</div>

