header{
    position: fixed;
    // background-color: #7339AB;
    margin: 0;
    width: 100%;
    overflow: hidden;
    height: 15%;
    z-index: 2;
    ul{
        float: right;
        height: 100%;
        margin-top: 2rem;
        margin-right: 2rem;
        li{
           position: relative; 
           height: 26px;
           display: inline-block; 
           margin-right: 15px;
           border: 2px solid white;       
           a{
                text-decoration: none;
                color: white;
                font-size: 20px;
                padding: 14px;
           }
           &:hover{
            background-color: white;
            cursor: pointer;
            a{
            color: black;
            }
        }     
        }
        #signIn{
            background-color: white;
            a{
                color: black;
            }
            &:hover{
                background-image: linear-gradient(to right, #ff9966, #ff5e62);
                a{
                    color: black;
                }
            }
        }
      
    }
}

.company{
    display: inline-block;
    font-size: 35px;
    height: 100%;
    margin-left: 2rem;
    margin-top: 1.5rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    a{
        color: white;
        text-decoration: none;
    }
}

