body{   
    margin: 0; 
    background-image: url("https://images8.alphacoders.com/601/601973.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
}
#layout-main{
    min-height: 150%;
    width: 100%;
    background-color: #101010;
}

#home-container{
    display: flex;
    height: 100%;
    #feed-posts{
        margin-top: 8%;
        height: 100%;
        width: 70%;
        padding: 10px;
    }
    #user-friends{
        height: 100%;
        margin-top: 6.5%;
        width: 25%;
        position: fixed;
        right: 0;
        padding: 10px;
        border-left: 2px solid white;
        color: white;
        background-color: #202020;
        .friends-list{
            width: 100%;
            position: relative;
            margin-top: 3.5%;
            height: 36%;
            overflow-y: scroll;
            .header{
                font-size: 30px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                letter-spacing: 0.8px;
            text-align: center;

            }
            .no-friends{
                font-size: 20px;
            text-align: center;

            }
            .yes-friend{
                width: 90%;
                margin-left: 5px;
                margin-bottom: 5px;
                .friends-item{ 
                    width: 100%;
                    text-decoration: none;
                    position: relative;
                .friends-img{
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    border: 2px solid white;
                    display: inline-block;
                    img{
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                    }
                }
                .friends-name{
                    display: inline-block;
                    position: relative;
                    font-size: 18px;
                    color: white;
                    text-decoration: none;
                    transform: translateY(-0.5rem);
                }
            }
            }
            .yes-friend:hover{
                .friends-img{
                    border: 2px solid rgb(231, 1, 66);
                }
                .friends-name{
                    font-size: 19px;
                }
            }
        }
        .discover{
            position: absolute;
            width: 100%;
            top: 60%;
            left: 50%;
            height: 42%;
            margin-top: 10px;
            transform: translate(-50%, -50%);
            border-top: 2px solid white;
            .dis-help{
                width: 97%;
                height: 95%;
                margin-top: 10px;
                overflow-y: scroll;

            }
            .header{
                margin-top: 3%;
                text-align: center;
                font-size: 30px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                letter-spacing: 0.8px;
                position: relative;
            }
            .yes-friend{
                width: 90%;
                margin-bottom: 5px;
                margin-left: 15px;   
                .friends-item{ 
                    width: 100%;
                    text-decoration: none;
                    position: relative;
                .friends-img{
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    border: 2px solid white;
                    display: inline-block;
                    position: relative;
                    #user-dp{
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        display: inline-block;
                    }
                }
                .friends-name{
                    display: inline-block;
                    position: relative;
                    font-size: 18px;
                    color: white;
                    text-decoration: none;
                    transform: translateY(-0.5rem);
                }
            }
            }

            .yes-friend:hover{
                .friends-img{
                    border: 2px solid rgb(231, 1, 66);
                }
                .friends-name{
                    font-size: 19px;
                }
            }
            // .disUser{
            //     padding: 2px;
            //     a{
            //          color: white;
            //          font-size: 18px;
            //          text-decoration: none;
            //     }
            //     margin-bottom: 5px;
            //  }
        }
      
    }
}



#HomePage{
    display: flex;
    position: absolute;
    width: 100%;
    height: 25%;
    margin-top: 8%;
    .homeDefault{
        position: relative;
        display: flex;
        width: 50%;
        height: 40%;
        margin-top: 18%;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        .introHead{
            color: white;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 70px;
            margin-top: -10px;
        }
    }

    .joinUs{
        width: 50%;
        height: 18rem;
        margin-top: 8%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .inviteCard{
            width: 60%;
            height: 100%;
            position: relative;
            padding-top: 15px;
            background: rgba( 255, 255, 255, 0.25);
            box-shadow: 0 8px 32px 0 rgba(227, 177, 27, 0.513);
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );       
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            font-size: 45px;
            color: white;
            #subMsg{
                font-size: 20px;
                margin-top: 1rem;
            }
            a{
                color: black;
                text-decoration: none;
            #getStarted{
                position: relative;
                width: 40%;
                margin-top: 4rem;
                margin-left: auto;
                margin-right: auto;
                font-size: 30px;
                background-color: white;
                border: 1px solid black;
                
            }
        }
        #getStarted:hover{
            background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
        }
        }

    }
}


.title{
    text-align: center;
}
.feed{
    margin-top: 0;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    font-size: 35px;
}

.post-form{
    width: 70%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
    textarea{
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        width: 100%;
        background-color: #353535;
        border: 2px solid white;
        color: white;
    }
        textarea:hover{
        box-shadow: 0px 3px 12px 0 #f98b53;
        }
    
    input{
        background-color: white;
        border: 2px solid black;
        padding: 10px;
        font-size: 20px;
        float: right;
        &:hover {
            background-image: linear-gradient(to right, #ff9966, #ff5e62);
            cursor: pointer;
        }
        margin-right: -2.1rem;
        margin-top: 10px;
    } 
}
#post-list-container{
    min-height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    ul{
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        li{
            padding: 12px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
            position: relative; 
            display: inline-block; 
            background-color: #202020;
            color: white;
            border: 2px solid white; 
            max-height: 30rem;
            overflow-y: scroll;
            .post-content{
                background-color: #101010;
                height: fit-content;
                color: white;
                border: 2px solid white;
                padding: 12px;
                margin-bottom: 5px;
                position: relative;
                .delete-post-button{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
                .delete-post-button:hover{
                    i{
                    color: rgb(176, 32, 0);
                    }
                }
                .toggle-like-button{
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    color: white;
                    text-decoration: none;
                    font-size: 20px;
                }
                .mainPostContent{
                    position: relative;
                    width: 90%;
                    min-height:6rem;
                    overflow-x: hidden;
                    overflow-wrap: break-word;
                    color: white;
                    font-size: 20px;
                }
            }
            .user-name{
                color: white;
                background-color: #303030;
                padding: 4px;
                position: absolute;
                top: 1rem;
                left: 3.2rem;
            }
            .post-img-vau {
                img {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                }
            }
            
            
            #comment-list{
                position: relative;
                width: 100%;
                #Comms{
                    text-align: center;
                    font-size: 20px;
                }

                .comment-form{
                    input{
                        background-color: white;
                        padding: 10px;
                        border: 2px solid black;               
                    } 
                    .cmt{
                        width: 75%;
                    }
                    .submit{
                        position: relative;
                        width: 20.4%;
                        margin-left: 5px;
                        font-weight: 500;
                    }
                    .submit:hover{
                        background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
                        cursor: pointer;
                    }
                }
            }
           
            .post-comment-list{
                margin-top: 10px;
                width: 100%;
                position: relative;
                float: left;
                ul{
                    position: relative;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    width: 95%;
                    border: 2px solid white;
                    margin-left: -0.2rem;
                    li{
                        width: 100%;
                        margin-left: -1.9rem;
                        border: none;
                        margin-top: 0;
                        margin-bottom: 0;
                        position: relative;
                        .comment-content{
                            background-color: #303030;
                            width: 98%;
                            min-height: 5rem;
                            padding: 4px;
                            border: 1px solid white;
                            position: relative;
                            margin: 0;
                            .delete-comment-button{
                                 position: absolute;
                                 top: 10px;
                                 right: 10px;
                            }
                            .comment-name{
                                position: absolute;
                                top: 0.5rem;
                                left: 2.5rem;
                                color: white;
                                background-color: #101010;
                                padding: 4px;
                            }
                            .main-comment-content{
                                position: relative;
                                width: 90%;
                                min-height: 2rem;
                                overflow-x: hidden;
                                overflow-wrap: break-word;
                                color: white;
                                margin-top: 10px;
                                margin-left: 5px;
                                font-size: 18px;
                            }
                        }
                    }
                    
                }
            }
        }
        li::-webkit-scrollbar{
            display: none;
        }
    }
}

#user-friends{
    color: black;

}

.fa-trash-can{
    color: red;
}

.white{
    color: white;
}

.pink{
    color: rgb(255, 0, 43);
}

.fa-heart:hover{
    color: rgb(255, 0, 43);
}
